@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #ffffff !important;
  color: #0f172a !important;
}

.pb-1{
  font-size: large;
}
.pb-1:hover{
  color: #d53f8c;
}