@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #ffffff !important;
  color: #0f172a !important;
}

.pb-1{
  font-size: large;
}
.pb-1:hover{
  color: #d53f8c;
}

.card:hover {
  transform: scale(1.05);
  
}

.card{
  transition: transform 0.3s ease;
}

@layer utilities {
  .hover-scale-text {
    display: inline-block;
    transition: transform 0.2s ease;
    transform-origin: left;
    color: blue;
    
  }
  .hover-scale-text:hover {
    transform: scale(1.05);
    color: #a92dcf;
  }
}